In [3]:
#numpy, scipy, matplotlib
#csv--> comma seperated values

In [9]:
import pandas as pd
import numpy as np
url="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body- style", "drive-wheels","engine-location","wheel-base", "length","width","height","curb- weight","engine-type", "num-of-cylinders", "engine-size","fuel- system","bore","stroke","compression-ratio","horsepower", "peak-rpm","city-mpg","highway- mpg","price"]
df=pd.read_csv(url, header=None)
df.columns=headers
df.replace('?',np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [12]:
mean=df["normalized-losses"].mean()
df["normalized-losses"].replace(np.nan,mean)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
path=r"C:\Users\berre\Desktop\dataanalysis\automobile.csv"
df.to_csv(path)
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
df.info

In [ ]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(filepath, header=None)
# show the first 5 rows using dataframe.head() method
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

print("The first 5 rows of the dataframe") 
df.columns=headers
df.columns
df1=df.replace('?',np.NaN)
df=df1.dropna(subset=["price"], axis=0)
df.head(20)
df.head(5)

In [ ]:
print("The last 10 rows of the dataframe\n")
df.tail(10)

In [ ]:
#Find the name of the columns of the dataframe.
print(df.columns)

In [ ]:
df.to_csv("automobile.csv", index=False)

In [ ]:
df.dtypes

In [ ]:
print(df.dtypes)

In [ ]:
df[['length', 'compression-ratio']].describe()

In [ ]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"
df = pd.read_csv(filepath, header=None)
headers1 = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers1
df.replace('?',np.nan, inplace = True)
print(df.head(10))

In [ ]:
print(df.dtypes)

In [ ]:
print(df.describe(include='all'))

In [ ]:
print(df.info())